<main>
    <div class="flex">
        <div class="header">
            <h1 class="gray-900">Enter Applicant's Data</h1>
            <p style="font-weight: 300;font-size: 15px;" class="gray-900">Register new travel applicants</p>
            <mat-divider></mat-divider>
        </div>
        <br/>
        <div class="card-wrapper">
            <mat-card class="full-width">
                <div style="position: relative;">
                    <h3><small style="color: #9ca3af;">File Number</small> > <span class="gray-900">{{fileNumber}}</span></h3>
                    <button
                    (click)="resetForm()"
                    mat-stroked-button color="accent" style="position: absolute;right: 7px;top:-2px"><mat-icon>refresh</mat-icon>Reset</button>
                    <mat-divider></mat-divider>
                    
                </div>
                <br/>
                <h3>Attach Picture*</h3>
                <div class="flex-row">

                  <div class="relative">
                    <label style="font-weight: 400;margin-bottom: 8px;font-size: 13px;" class="gray-900">Full Photo</label>
                    <div class="picture-box"  (click)="fullPhoto.click()">
                    
                      <mat-icon  *ngIf="!fullPhotoUrl" style="margin: 23% 33%;font-size: 35px;color: #d1d5db;">photo_camera</mat-icon>
                      
                     <!-- <mat-icon color="primary" style="position: absolute;top:-1%;">remove_circle</mat-icon> -->

                      <img *ngIf="fullPhotoUrl" class="picture-avatar" [src]="fullPhotoUrl"/>
                      </div>
                  </div>
                  <div>
                    <label style="font-weight: 400;margin-bottom: 8px;font-size: 13px;" class="gray-900">Small Photo</label>
                    <div class="picture-box"  (click)="smallPhoto.click()">
                    
                      <mat-icon *ngIf="!smallPhotoUrl" style="margin: 23% 33%;font-size: 35px;color: #d1d5db;">photo_camera</mat-icon>
                      <img *ngIf="smallPhotoUrl" class="picture-avatar" [src]="smallPhotoUrl"/>
                      </div>
                  </div>
                    <div>
   
                      <label style="font-weight: 400;margin-bottom: 8px;font-size: 13px;" class="gray-900">Passport</label>
                      <div class="picture-box" (click)="passportPhoto.click()">
                    
                        <mat-icon *ngIf="!passportUrl"  style="margin: 23% 33%;font-size: 35px;color: #d1d5db;">photo_camera</mat-icon>
                        <img *ngIf="passportUrl" class="picture-avatar"  [src]="passportUrl"/>
                        </div>
                    </div>
                      

                        <div>
                          
                          <label style="font-weight: 400;margin-bottom: 8px;font-size: 13px;" class="gray-900">Resume</label>
                          <div class="picture-box" (click)="resume.click()">
                     <mat-icon  *ngIf="!resumeUrl" style="margin: 23% 33%;font-size: 35px;color: #d1d5db;">photo_camera</mat-icon>
                           <span *ngIf="resumeUrl">
                            <mat-icon   style="font-size: 34px;margin-left: 25%;margin-top: 17%; color: #2563eb;"
                            
                            >description</mat-icon>
                          <span style="color: #2563eb;padding-top: 35px;padding-left: 6px;">(1)</span>
                           </span>
                            </div>
                        </div>
                </div>

           
             
               
            

                <input class="hidden" type="file" 
          accept="image/png, image/jpg, image/jpeg"
            id="form-uploader" #fullPhoto
            (change)="uploadDocuments($event, 'fullPhoto')">
            <input class="hidden" type="file" 
          accept="image/png, image/jpg, image/jpeg"
            id="form-uploader" #smallPhoto
            (change)="uploadDocuments($event, 'smallPhoto')">
            <input class="hidden" type="file" 
          accept="image/png, image/jpg, image/jpeg"
            id="form-uploader" #passportPhoto
            (change)="uploadDocuments($event, 'passportPhoto')">

            <input class="hidden" type="file" 
          accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
            id="form-uploader" #resume
            (change)="uploadDocuments($event, 'resume')">
                <br/>
                <form [formGroup]="mainformGroup">
                    <div class="flex-bar">
                        <div class="w-33" *ngFor="let form of form1">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>{{form.name}}</mat-label>
                                <input matInput [placeholder]="form.name" [formControlName]="form.control">
                                <mat-error *ngIf="errorController(form.control)">
                                    Enter a correct {{form.name}} 
                                  </mat-error>
                                  <mat-error *ngIf="requiredError(form.control)">
                                    {{form.name}} is <strong>required</strong>
                                  </mat-error>
                              </mat-form-field>
                        </div>
                  </div>
                 

                  <div class="flex-bar">
                    <div class="w-33">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>NIN Number</mat-label>
                            <input matInput placeholder="E.g CF9202010320H" formControlName="nin"  minlength="14" maxlength="14">
                           </mat-form-field>
                           <mat-error *ngIf="errorController('nin')">
                            Enter a correct NIN number and must be 14 characters
                          </mat-error>
                          <mat-error *ngIf="requiredError('nin')">
                           Nin is <strong>required</strong>
                          </mat-error>
                    </div>
                    <div class="w-33">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Passport Number</mat-label>
                            <input matInput placeholder="E.g AHUL5162772" formControlName="passportnumber" minlength="9" maxlength="9">
                            <mat-error *ngIf="errorController('passportnumber')">
                                Enter a correct passport number with 9 characters
                              </mat-error>
                              <mat-error *ngIf="requiredError('passportnumber')">
                               Passport number is <strong>required</strong>
                              </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="w-33">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Date Passport Issue*</mat-label>
                            <input matInput placeholder="E.g 3/19/2022" formControlName="datePassportIssue" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>event</mat-icon>
                              </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                              <mat-error *ngIf="requiredError('datePassportIssue')">
                               Date passport issue is <strong>required</strong>
                              </mat-error>
                          </mat-form-field>
                    </div>
                  </div>

                  <div class="flex-bar">
                    <div class="w-33">
                          <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Date Passport Expires*</mat-label>
                            <input matInput placeholder="E.g 3/19/2022" formControlName="passportExpiration" [matDatepicker]="passportExpirationPicker">
                            <mat-datepicker-toggle matSuffix [for]="passportExpirationPicker">
                                <mat-icon matDatepickerToggleIcon>event</mat-icon>
                              </mat-datepicker-toggle>
                            <mat-datepicker #passportExpirationPicker></mat-datepicker>
                            <mat-error *ngIf="requiredError('passportExpiration')">
                                Passport Expiration is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="w-33">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Contact Number</mat-label>
                            <span matPrefix>+256 &nbsp;</span>
                            <input matInput placeholder="E.g 785442772" formControlName="contactNumber" minlength="9" maxlength="9" type="tel">
                            <mat-error *ngIf="errorController('contactNumber')">
                               Enter a correct telephone number
                              </mat-error>
                              <mat-error *ngIf="requiredError('contactNumber')">
                               Phone number is <strong>required</strong>
                              </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="w-33">
                      <mat-form-field appearance="fill" class="full-width">
                          <mat-label>Alternative Number</mat-label>
                          <span matPrefix>+256 &nbsp;</span>
                          <input matInput placeholder="E.g 785442772" formControlName="altNumber" minlength="9" maxlength="9" type="tel">
                          <mat-error *ngIf="errorController('altNumber')">
                             Enter a correct telephone number
                            </mat-error>
                            <mat-error *ngIf="requiredError('altNumber')">
                              Alt Numbernumber is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                  </div>
                    <div class="w-50">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Gender</mat-label>
        
                            <mat-select formControlName="gender">
                                <mat-option value="primary" *ngFor="let sex of gender" [value]="sex.value">{{sex.name}}</mat-option>
                                
                              </mat-select>
                              <mat-error *ngIf="requiredError('gender')">
                                Gender is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                  </div>

                  <div class="flex-bar">
                    <div class="w-33">
                        
                          <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Date Of Birth*</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="dob" 
                            [min]="minDate" [max]="maxDate"
                            [matDatepicker]="dobPicker">
                            <mat-datepicker-toggle matSuffix [for]="dobPicker">
                                <mat-icon matDatepickerToggleIcon>event</mat-icon>
                              </mat-datepicker-toggle>
                            <mat-datepicker #dobPicker></mat-datepicker>
                            <mat-error *ngIf="requiredError('dob')">
                                Date of birth is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="w-33">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Religion</mat-label>
                       
                            <mat-select formControlName="religion">
                                <mat-option value="primary" *ngFor="let item of religion" [value]="item">{{item}}</mat-option>
                              </mat-select>
                              <mat-error *ngIf="requiredError('religion')">
                                Religion is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="w-33">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Marital Status</mat-label>
                            <mat-select formControlName="maritalStatus">
                                <mat-option value="primary" *ngFor="let item of marriage" [value]="item">{{item}}</mat-option>
                                
                              </mat-select>
                              <mat-error *ngIf="requiredError('maritalStatus')">
                                Marital status is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                  </div>

                  

                

                  <div class="flex-bar">
                    <div class="w-33">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>GCC</mat-label>
                            <mat-select formControlName="gcc">
                                <mat-option value="primary" *ngFor="let item of gcc" [value]="item">{{item}}</mat-option>
                                
                              </mat-select>
                              <mat-error *ngIf="requiredError('gcc')">
                                GCC is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="w-33">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Medical Center</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="medicalCenter">
                            <mat-error *ngIf="errorController('medicalCenter')">
                                Medical center must not include illegal characters
                               </mat-error>
                               <mat-error *ngIf="requiredError('medicalCenter')">
                                Medical center is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="w-33">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Training</mat-label>
                          
                            <mat-select formControlName="training">
                                <mat-option value="primary" *ngFor="let item of gcc" [value]="item">{{item}}</mat-option>
                                
                              </mat-select>
                              <mat-error *ngIf="requiredError('training')">
                                Training  is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                  </div>

                  <div class="flex-bar">
                    <div class="w-50">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Vaccine</mat-label>
                            <mat-select formControlName="vaccine">
                                <mat-option value="primary" *ngFor="let item of vaccine" [value]="item">{{item}}</mat-option>
                                
                              </mat-select>
                              <mat-error *ngIf="requiredError('training')">
                              Vaccine  is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="w-50">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Agent</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="agent">
                            <mat-error *ngIf="errorController('agent')">
                                Agent must not include illegal characters
                               </mat-error>
                               <mat-error *ngIf="requiredError('agent')">
                                Agent is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                    
                  </div>
                  <div class="flex-bar">
                    <div class="w-33">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Next of Kin Name</mat-label>
                            <input matInput placeholder="E.g John Doe" formControlName="nextOfKin">
                            <mat-error *ngIf="errorController('nextOfKin')">
                                Enter valid next of kin name
                               </mat-error>
                               <mat-error *ngIf="requiredError('nextOfKin')">
                                Next of kin name is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="w-33">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Relationship with Next of Kin</mat-label>
                          
                            <mat-select formControlName="kinRelationship">
                                <mat-option value="primary" *ngFor="let item of nextOfKeenRelationship" [value]="item">{{item}}</mat-option>
                                
                              </mat-select>
                              <mat-error *ngIf="requiredError('kinRelationship')">
                                Next of kin relationship is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="w-33">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Number of Next of Kin</mat-label>
                            <span matPrefix>+256&nbsp;</span>
                            <input matInput placeholder="Placeholder" formControlName="numberOfNextOfKin" minlength="9" maxlength="9" type="tel">
                            <mat-error *ngIf="errorController('numberOfNextOfKin')">
                                Enter a correct phone number
                               </mat-error>
                               <mat-error *ngIf="requiredError('numberOfNextOfKin')">
                                Next of kin telephone number <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="w-50">
                      <mat-form-field appearance="fill" class="full-width">
                          <mat-label>Number of Next of Kin Alternative number</mat-label>
                          <span matPrefix>+256&nbsp;</span>
                          <input matInput placeholder="Placeholder" formControlName="kinAltNumber" minlength="9" maxlength="9" type="tel">
                          <mat-error *ngIf="errorController('kinAltNumber')">
                              Enter a correct phone number
                             </mat-error>
                             <mat-error *ngIf="requiredError('kinAltNumber')">
                              Next of kin alternative telephone number <strong>required</strong>
                             </mat-error>
                        </mat-form-field>
                  </div>
                  </div>
                  

                  <div class="flex-bar">
                    <div class="w-50">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Address</mat-label>
                            <mat-select formControlName="address">
                                <mat-option value="primary" *ngFor="let item of address" [value]="item.city">{{item.city}}</mat-option>
                              </mat-select>
                              <mat-error *ngIf="errorController('address')">
                                Enter a correct address
                               </mat-error>
                               <mat-error *ngIf="requiredError('address')">
                                Address is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="w-50">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Physical Address</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="physicalAddress">
                            <mat-error *ngIf="errorController('physicalAddress')">
                                Enter a correct Physical address
                               </mat-error>
                               <mat-error *ngIf="requiredError('physicalAddress')">
                                Physical address is <strong>required</strong>
                               </mat-error>
                          </mat-form-field>
                    </div>
                  </div>
                </form>
                <section>
                  <h3>Skills <small style="color: #9ca3af;">(Choose at least one)</small></h3>
              <ul class="unordered-list">
                  <li *ngFor="let subtask of skills.subtasks">
                    <mat-checkbox [(ngModel)]="subtask.completed" style="width: 200px !important;"
                                  [color]="subtask.color"
                                  (ngModelChange)="updateAllCompleteSkills()">
                      {{subtask.name}}
                    </mat-checkbox>
                  </li>
                </ul><br/>
                <div class="flex-bar">
                    
                  <div style="width: 100%;">
                      <mat-form-field appearance="fill" class="full-width">
                          <mat-label>Other Skills</mat-label>
                          <input matInput placeholder="(Optional)" name="otherSkills" [(ngModel)]="otherSkills" type="text">
                         </mat-form-field>
                  </div>
                </div>
              </section><br/>
                <section>
                    <h3>Languages <small style="color: #9ca3af;">(Choose at least one)</small></h3>
                <ul class="unordered-list">
                    <li *ngFor="let subtask of languages.subtasks">
                      <mat-checkbox [(ngModel)]="subtask.completed" style="width: 200px !important;"
                                    [color]="subtask.color"
                                    (ngModelChange)="updateAllCompleteLang()">
                        {{subtask.name}}
                      </mat-checkbox>
                    </li>
                  </ul>
                  <br/>
                  <div class="flex-bar">
                    <div style="width: 100%;">
                      <h3>Other Languages</h3>
                      <mat-form-field appearance="fill" class="full-width">
                          <mat-label>(Optional)</mat-label>
                          <input matInput placeholder="" name="otherLang" [(ngModel)]="otherLang">
                         
                            <mat-error>
                              Other language required <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                  </div>
                  </div>
                </section><br/>
<br/>
                <section>
                    <h3>Qualifications <small style="color: #9ca3af;">(Choose at least one)</small></h3>
                <ul class="unordered-list">
                    <li *ngFor="let subtask of task.subtasks">
                      <mat-checkbox [(ngModel)]="subtask.completed" style="width: 200px !important;"
                                    [color]="subtask.color"
                                    (ngModelChange)="updateAllComplete()">
                        {{subtask.name}}
                      </mat-checkbox>
                    </li>
                  </ul>
                </section><br/>
                <section>

                  <form [formGroup]="durationGroup">
                    <div class="flex-bar">
                      <div class="w-33">
                          
                            <mat-form-field appearance="fill" class="full-width">
                              <mat-label>R Date*</mat-label>
                              <input matInput placeholder="Placeholder" formControlName="rDate"  [matDatepicker]="rDatePicker">
                              <mat-datepicker-toggle matSuffix [for]="rDatePicker">
                                  <mat-icon matDatepickerToggleIcon>event</mat-icon>
                                </mat-datepicker-toggle>
                              <mat-datepicker #rDatePicker></mat-datepicker>
                              <mat-error *ngIf="requiredError('rDate')">
                                  R-date is <strong>required</strong>
                                 </mat-error>
                            </mat-form-field>
                      </div>
                      <div class="w-33">
                            <mat-form-field appearance="fill" class="full-width">
                              <mat-label>T Date*</mat-label>
                              <input matInput placeholder="E.g 12/2/2020" formControlName="tDate"  [matDatepicker]="tDatePicker">
                              <mat-datepicker-toggle matSuffix [for]="tDatePicker">
                                  <mat-icon matDatepickerToggleIcon>event</mat-icon>
                                </mat-datepicker-toggle>
                              <mat-datepicker #tDatePicker></mat-datepicker>
                              <mat-error *ngIf="requiredError('tDate')">
                                  T-date is <strong>required</strong>
                                 </mat-error>
                            </mat-form-field>
                      </div>
                      <div class="w-33">
                          <mat-form-field appearance="fill" class="full-width">
                              <mat-label>Duration (days passed)</mat-label>
                              <input matInput placeholder="Placeholder" formControlName="duration" type="number">
                              <mat-error *ngIf="errorController('duration')">
                                  Duration must not include illegal characters
                                 </mat-error>
                                 <mat-error *ngIf="requiredError('dutation')">
                                  Duration <strong>required</strong>
                                 </mat-error>
                            </mat-form-field>
                      </div>
                    </div>
                  </form>
                </section><br/>
                <section>
                  <div class="flex-bar">
                    <div style="width: 100% !important;">
                        <mat-form-field appearance="fill" style="width: 100% !important;">
                            <mat-label>Remarks</mat-label>
                            <textarea matInput placeholder="" name="remarks" cols="100" [(ngModel)]="remarks" type="text">

                            </textarea>
                            
                          </mat-form-field>
                    </div>
                  </div>
                </section>
            </mat-card>
        </div>
    </div>
    <button mat-raised-button  style="background-color: #2563eb; position: fixed; bottom: 100px;border-radius: 25px;
    right: 150px;padding-top: 2px;padding-bottom: 2px;color: #fff;"
    [class.spinner]="service.isLoading" [disabled]="service.isLoading"
    (click)="submitForm()"

    ><span [hidden]="service.isLoading">Submit Data</span></button>
</main>