/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; }

.gray-900{
    color: #111827 !important;
}

.flex{
    width: 100%;
    padding-left: 12px;
    padding-top: 12px;
}
.card-wrapper{
    width: 90%;
    margin-top:22px;
    height: 100%;
}   

.flex-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 13px;
    flex-wrap: wrap;
}

.w-33{
    width: 33.33%;
}
.w-50{
    width: 50%;
}

.full-width{
    width: 97%;
}

.unordered-list{
    margin-left: -38px;
    li{
        display: inline;
        margin-right: 10px;
    }
}

.picture-box{
    width: 100px;height: 80px;border: 3px; border-style: dashed;border-radius: 3px;
    position: relative;border-color: #d1d5db;cursor: pointer; margin-right: 17px;
}

.picture-avatar{
    width: 100px;height: 80px;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    background-size: cover;
    margin-bottom: 10px;
    border-style: dashed;
    border-color: #d1d5db;
    border-width: 3px;
}

// button spinners
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #047857;
    animation: spinner .8s linear infinite;
  }
  
  .hidden{
      display: none;
  }